
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_DashboardLayoutPage.cshtml";
}


@if (TempData["login"] != null)
{
    <script>
		toastr.success('@TempData["login"]')
    </script>
}


<h2>User</h2>

