<!doctype html>
<html lang="en">
<head>
    <title>Login 07</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <link href="~/Content/LoginTheam/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/LoginTheam/css/style.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
</head>
<body>
    <section class="ftco-section">
        <div class="container body-content">
            @RenderBody()
        </div>
    </section>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Content/LoginTheam/js/jquery.min.js"></script>
    <script src="~/Content/LoginTheam/js/popper.js"></script>
    <script src="~/Content/LoginTheam/js/bootstrap.min.js"></script>
    <script src="~/Content/LoginTheam/js/main.js"></script>

</body>
</html> 